B. Normalize the data (5 marks) 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

Install the required libraries

In [ ]:
!pip install numpy==1.21.4
!pip install pandas==1.3.4
!pip install keras==2.1.6

Import the library

In [1]:
import pandas as pd
import numpy as np

Download data and take a look at the data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Split the target and the predict

In [3]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Normalize the data

In [4]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Save the number of predictor to n_cols

In [5]:
n_cols = predictors_norm.shape[1] # number of predictors

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the 
train_test_split
helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

Import Keras and other packages

In [6]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

BUILD THE REGRESSION MODEL
Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [7]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

Import the library from sklearn

In [12]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors save in array_MSE_B.

Report the mean and the standard deviation of the mean squared errors.

In [13]:
array_MSE_B=[]

In [ ]:
# Repeat the process 50 times
for _ in range(50):
    # Split the data
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=None)
    
    # Build the model
    model = regression_model()
    
    # Fit the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Make predictions
    predictions = model.predict(X_test)
    
    # Calculate MSE
    mse = mean_squared_error(y_test, predictions)
    print('Mean Squared Error on test data:', mse)
    
    # Append the MSE to the list
    array_MSE_B.append(mse)

# Compute mean and standard deviation of MSE
mean_mse = np.mean(array_MSE_B)
std_mse = np.std(array_MSE_B)

print(f'Mean MSE: {mean_mse}')
print(f'Standard Deviation of MSE: {std_mse}')

Mean Squared Error on test data: 169.59335057968516
Mean Squared Error on test data: 308.5740782244805
Mean Squared Error on test data: 1508.179582857038
Mean Squared Error on test data: 318.07814818985327
Mean Squared Error on test data: 237.37200966017846
Mean Squared Error on test data: 270.7538640880196
Mean Squared Error on test data: 282.46337724533055
Mean Squared Error on test data: 177.90029483908208
Mean Squared Error on test data: 180.4538809260713
Mean Squared Error on test data: 112.4767322357498
Mean Squared Error on test data: 110.1041834613018
Mean Squared Error on test data: 103.14270998658307
Mean Squared Error on test data: 128.78380492999378
Mean Squared Error on test data: 123.25751900939306
Mean Squared Error on test data: 311.9219262736404
Mean Squared Error on test data: 678.2398446348554
Mean Squared Error on test data: 90.01585996412112
Mean Squared Error on test data: 244.25569186616912
Mean Squared Error on test data: 1260.2548317011936
Mean Squared Error on test data: 218.45898535382503
Mean Squared Error on test data: 147.52271675265683
Mean Squared Error on test data: 111.78094028047637
Mean Squared Error on test data: 158.14149736128846
Mean Squared Error on test data: 121.76353883699781
Mean Squared Error on test data: 136.56939179950606
Mean Squared Error on test data: 150.9904242122402
Mean Squared Error on test data: 189.92934181069492
Mean Squared Error on test data: 1087.8318254119756
Mean Squared Error on test data: 148.28845857462437
Mean Squared Error on test data: 1155.909789056329
Mean Squared Error on test data: 116.476788696214
Mean Squared Error on test data: 208.01955799926324
Mean Squared Error on test data: 478.5595983339121
Mean Squared Error on test data: 508.9723949386129
Mean Squared Error on test data: 193.9735085642136
Mean Squared Error on test data: 123.01604801221693
Mean Squared Error on test data: 169.86010297312112
Mean Squared Error on test data: 1309.173080414947
Mean Squared Error on test data: 159.65294341305201
Mean Squared Error on test data: 105.8577697176795
Mean Squared Error on test data: 296.7530152369303
Mean Squared Error on test data: 383.8208163920622
Mean Squared Error on test data: 179.37830839964008
Mean Squared Error on test data: 93.08689264627
Mean Squared Error on test data: 434.6355776132077
Mean Squared Error on test data: 845.7782900059221
Mean Squared Error on test data: 239.0959040508995
Mean Squared Error on test data: 256.3686127599344

In [ ]:
print(array_MSE_B)